* {
    font-family: Roboto;
}

body {
    margin-bottom: 100px;
}

.header-format {
    background-color: #EFBD37;
    display: block;
}

@media only screen and (min-width: 640px) {
    h1 {
        font-size: 5.0vh;
    }
    h2 {
        font-size: 3.0vh;
    }
    p {
        font-size: 2vmin;
    }
}



.box {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    position: relative;
    top: 5px;
}

.lower-card {
    border: 1px lightgray solid;
    padding-left: 10px;
}